   

body {
 background: url(../assets/img/seamless-pattern-colorful-guitars-musical-notes-white-background_484720-2188.png);
}
 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.connect-wallet-icon{
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
 
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'), url(../assets/fonts/Gilroy-Light.otf) format('truetype');
  }
  
  @font-face {
    font-family: 'GilroyBold';
    src: local('GilroyBold'), url(../assets/fonts/Gilroy-ExtraBold.otf) format('truetype');
  }
  
  @font-face {
    font-family: 'DMSansBold';
    src: local('DMSansBold'), url(../assets/fonts/DMSans-Bold.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'DMSansRegular';
    src: local('DMSansRegular'), url(../assets/fonts/DMSans-Regular.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'DMSansItalic';
    src: local('DMSansItalic'), url(../assets/fonts/DMSans-Italic.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'ArchivoRegular';
    src: local('ArchivoRegular'), url(../assets/fonts/Archivo-Regular.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'ArchivoBold';
    src: local('ArchivoBold'), url(../assets/fonts/Archivo-Bold.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'ArchivoExtraBold';
    src: local('ArchivoExtraBold'), url(../assets/fonts/Archivo-ExtraBold.ttf) format('truetype');
  }
  
  
  @font-face {
    font-family: 'ArchivoBlack';
    src: local('ArchivoBlack'), url(../assets/fonts/Archivo-Black.ttf) format('truetype');
  }
  
  
  .ArchivoBold{
    font-family: ArchivoBold !important;
  }
  
  .ArchivoBlack{
    font-family: ArchivoBlack !important;
  }
  
  .ArchivoExtraBold{
    font-family: ArchivoExtraBold !important;
  }
  
  .ArchivoRegular{
    font-family: ArchivoRegular !important;
  }
  
  .DMSansRegular{
    font-family: DMSansRegular !important;
  }
  
  .DMSansBold{
    font-family: DMSansBold !important;
  }
  
  .DMSansItalic{
    font-family: DMSansItalic !important;
  
  }